







body {
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: calc(100vh + 250px);
    background-position-x: -223px;
    background-size: 120%;
    zoom: 75%;
}

#loader img{
  content:url(https://i.imgur.com/Ucs3tHc.gif); 
  width: 96px!important;
  height: 96px!important;
}


